@charset "UTF-8";
/* переменные */
/* миксы */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

/* header */
.header {
  background: #222222;
  padding: 18px 0;
  color: #FFFFFF;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  text-decoration: none;
  color: transparent;
  margin-right: 41px;
}

.logo-link:hover {
  scale: 1.1;
}

.search-button {
  background-color: transparent;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainmenu-button {
  background-color: transparent;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 33px;
}

.contacts {
  text-decoration: none;
  color: transparent;
  margin-right: 33px;
}

.cart-svg {
  text-decoration: none;
  color: transparent;
}

/* breadcrumbs */
.page-title {
  background-color: #F8F3F4;
}

.page-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title-left-text {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-list-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-right: 5px;
  color: #636363;
}

.active {
  font-weight: bold;
  color: #F16D7F;
}

.active::after {
  visibility: hidden;
}

/* offer */
.offer {
  background-color: #F1E4E6;
}

.offer-wrap {
  height: 756px;
  background-image: url(../img/mainpageman.png);
  background-repeat: no-repeat;
  background-position: -225px bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offer-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 90px;
}

.offer-title--small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.offer-title--red {
  color: #F16D7F;
}

/* categories*/
.categories {
  padding-top: 65px;
  margin-bottom: 85px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-sale {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.categories-type {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.categories-item {
  background-color: #c4c4c4;
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.categories-item-1 {
  background-image: url(../img/cardwomen.jpg);
}

.categories-item-2 {
  background-image: url(../img/cardmen.jpg);
}

.categories-item-3 {
  background-image: url(../img/cardkid.jpg);
}

.categories-item-4 {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  background-image: url(../img/cardacc.jpg);
}

/* filter */
.filter-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter {
  margin-top: 50px;
  margin-bottom: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  margin-right: 30px;
  position: relative;
  padding-top: 13px;
}

.filter summary {
  display: block;
}

.filter ::-webkit-details-marker {
  display: none;
}

.filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filter[open] {
  -webkit-box-shadow: 6px 4px 35px 0px #00000036;
          box-shadow: 6px 4px 35px 0px #00000036;
  z-index: 1;
}

.filter[open] .filter-title {
  color: #F16D7F;
}

.filter[open] .filter-title-ico {
  fill: #F16D7F;
}

.filter-content {
  position: absolute;
  background-color: #FFFFFF;
  width: 360px;
  left: 0;
  padding: 16px 16px 0 16px;
  -webkit-box-shadow: 6px 23px 35px 0px #00000036;
          box-shadow: 6px 23px 35px 0px #00000036;
}

.filter-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.filter-title-ico {
  margin-left: 11px;
}

.filter-title:hover {
  color: #F16D7F;
}

.filter-title:hover .filter-title-ico {
  fill: #F16D7F;
}

.filter-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 17px;
}

.filter-subtitle-title {
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
}

.filter-subtitle:hover {
  color: #F16D7F;
}

.filter-subtitle[open] {
  color: #F16D7F;
}

.filter-list {
  list-style-type: none;
  padding-top: 24px;
  padding-left: 12px;
}

.filter-item {
  padding-bottom: 11px;
}

.filter-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-link:hover {
  color: #222222;
}

.sort {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.sort summary {
  display: block;
}

.sort ::-webkit-details-marker {
  display: none;
}

.sort-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-right: 28px;
}

.sort-name::after {
  content: url(../img/arrow-down.svg);
  margin-left: 10px;
}

.size-sort {
  list-style: none;
  position: absolute;
  padding: 10px 20px 12px 10px;
  z-index: 1;
  background-color: #FFFFFF;
  width: 79px;
  height: 103px;
  left: -10px;
  -webkit-box-shadow: 6px 4px 35px 0px #00000036;
          box-shadow: 6px 4px 35px 0px #00000036;
}

.size-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 5px;
}

.size-chek {
  margin-right: 9px;
}

/* feature */
.feature-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.feature-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.feature-btn {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #F16D7F;
  background-color: #FFFFFF;
  padding: 15px 40px;
  border: 1px solid #F16D7F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feature-btn:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.feature-item-card {
  height: 580px;
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 25px 28px 20px 16px;
}

.item-card-heading {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 12px;
}

.item-card-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.item-card-price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-btn {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  padding: 13px 16px 13px 13px;
  background-color: transparent;
}

.overlay-btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 30px;
  background-color: #FFFFFF;
  color: #222222;
}

.overlay-btn:hover .overlay-cart {
  fill: black;
  color: black;
}

.overlay-cart {
  margin-right: 11px;
}

.overlay:hover {
  opacity: 1;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  border: 1px solid #EBEBEB;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 7px;
  margin-top: 15px;
  width: 284px;
}

.navbar-list {
  padding: 8px;
}

.navbar-list-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #C4C4C4;
}

.active {
  color: #EF5B70;
}

.fas {
  color: #000000;
}

.center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* advantage */
.advantages {
  background: #222222;
  margin-top: 95px;
}

.advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 135px;
  margin-top: 110px;
  margin-bottom: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-card-heading {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
}

.advantages-card-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  margin-top: 16px;
  text-align: center;
}

/* subscribe */
.subscribe {
  background-image: url(../img/photo-subscribe.png);
  background-repeat: no-repeat;
  height: 448px;
  padding-top: 97px;
  background-size: cover;
}

.subscribe-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
  height: 225px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-right {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 557px;
  max-height: 142px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-form {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.subscribe-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
}

.subscribe-text--small {
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222222;
}

.subscribe-field {
  padding: 20px;
  width: 255px;
  background-color: lightgrey;
  border: none;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  color: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.subscribe-field::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  opacity: 0.67;
}

.subscribe-field:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  opacity: 0.67;
}

.subscribe-field::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  opacity: 0.67;
}

.subscribe-field::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  opacity: 0.67;
}

.subscribe-field:hover {
  background: #e9e9e9;
}

.subscribe-btn {
  padding: 20px;
  background-color: #F16D7F;
  border: none;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.subscribe-btn:hover {
  background-color: #e05c6e;
}

.subscribe-feedback {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  margin-top: 30px;
}

.subscribe-feedback-italic {
  font-style: italic;
}

/* footer */
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #222222;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-link {
  color: #000;
  text-decoration: none;
  font: size 16px;
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-link:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.allrights {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

/* registration */
.registration-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  padding-bottom: 96px;
}

.registration-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 128px;
}

.registration-right {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registration-form-type {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.registration-form-field {
  border: 1px solid #A4A4A4;
  padding: 13px 17px 16px 17px;
  width: 360px;
  margin-bottom: 20px;
}

.registration-form-field::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-field:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-field::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-field::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration-form-radio {
  margin-top: 11px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-form-radio-input {
  margin-right: 10px;
}

.registration-form-radio-label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration-form-info {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-bottom: 40px;
}

.registration-form-button {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: transparent;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F16D7F;
  padding: 17px 24px;
}

.registration-form-button-pic {
  padding-left: 20px;
}

.registration-info {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 22px;
}

.registration-info-list {
  list-style-type: none;
  padding-bottom: 15px;
}

.registration-info-list::before {
  content: url(../img/checkmark.svg);
  margin-right: 22px;
}

.label {
  padding-right: 20px;
}

/* cart */
.cart-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 128px;
  padding-top: 96px;
}

.cart-right {
  width: 360px;
}

.cart-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-button {
  background-color: transparent;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  margin-top: 32px;
}

.cart-form {
  width: 360px;
  margin-bottom: 58px;
}

.cart-form-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.cart-form-field {
  border: 1px solid #A4A4A4;
  padding: 13px 17px 16px 17px;
  width: 360px;
  margin-bottom: 20px;
}

.cart-form-field::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-form-field:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-form-field::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-form-field::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-form-button {
  background-color: transparent;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 25px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
}

.cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  background-color: #F8F3F4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-total-text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-right: 37px;
}

.cart-total-sub {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}

.cart-total-sub-price {
  margin-left: 25px;
}

.cart-total-grand {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart-total-grand-price {
  font-weight: bold;
  color: #F16D7F;
  margin-left: 25px;
}

.cart-total-line {
  color: #E2E2E2;
  width: 275px;
}

.cart-total-button {
  background-color: transparent;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  padding: 15px 42px;
  margin-top: 17px;
  margin-bottom: 42px;
}

.cart-item {
  width: 652px;
  height: 306px;
  -webkit-box-shadow: 17px 19px 24px 0px #00000021;
          box-shadow: 17px 19px 24px 0px #00000021;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item-pic {
  width: 262px;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item-description {
  width: 390px;
  height: 306px;
  padding: 22px 22px 67px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item-description-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item-description-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-item-text {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 210px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-item-text-small {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.active-price {
  color: #EF5B70;
}

.quanity {
  border: 1px solid #EAEAEA;
  padding: 1px 16px 2px 16px;
  margin-left: 24px;
}

/* products */
.slider {
  border: 1px solid #EAEAEA;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 90px;
}

.slider-btn {
  background: rgba(42, 42, 42, 0.15);
  padding: 8px;
  width: 47px;
  height: 47px;
  border: transparent;
  position: absolute;
}

.slider-btn:hover .fas {
  color: #F16D7F;
}

.slider-btn:active {
  background: rgba(42, 42, 42, 0.15);
}

.slider-btn-left {
  left: 0px;
}

.slider-btn-right {
  right: 0px;
}

.about-wrap {
  background-color: #FFFFFF;
  height: 600px;
  border: 1px solid #EAEAEA;
  margin-top: -90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px;
  margin-bottom: 128px;
}

.about-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.about-text-pink {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.about-text-line {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  border: 1px solid #EF5B70;
  margin-bottom: 12px;
}

.about-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  text-align: center;
  max-width: 555px;
  margin-bottom: 32px;
}

.about-description-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 64px;
}

.about-description-line {
  width: 642px;
  border: 1px solid #EAEAEA;
  background-color: #EAEAEA;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.sort-item-button {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 23px;
  background-color: transparent;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-item-button-link {
  text-decoration: none;
  color: transparent;
  padding-left: 9px;
}

.about-button {
  background-color: transparent;
  width: 212px;
  height: 48px;
  border: 1px solid #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 48px;
}

.about-button-pic {
  position: absolute;
  left: 24px;
}

.about-button-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  margin-left: 10px;
  color: #F16D7F;
}

/*@media (max-width: 1024px) {
    .wrapper {
        max-width: 736px;
    }

    .header-left {
        margin-left: 16px;
    }

    .header-right {
        margin-right: 16px;
    }

    .offer-wrap {
        height: 368px;
        background-size: contain;
        background-position: 0;
    }

    .offer-title {
        margin-right: 16px;
        font-size: 44px;
        line-height: 53px;
    }

    .offer-title--small {
        font-size: 24px;
        line-height: 29px;
    }

    .offer-title--red {
        font-size: 24px;
        line-height: 29px;
    }

    .categories {
        padding-top: 20px;
    }

    .categories-item {
        max-width: 232.44px;
        max-height: 167.62px;
    }

    .categories-item-4 {
        max-width: 736px;
        margin-top: 20px;
    }

    .feature-heading {
        margin-bottom: 3px;
    }

    .feature-description {
        margin-bottom: 72px;
    }

    .feature-button {
        margin-top: 0;
    }

    .advantages {
        margin-top: 64px;
    }

    .advantages-wrap {
        flex-direction: column;
        align-items: center;
        padding-bottom: 16px;
    }

    .adv-card {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .subscribe-wrap {
        flex-direction: column;
        margin-top: 64px;
        margin-bottom: 160px;
    }

    .sub-text {
        margin-top: 20px;
    }

} */
/*# sourceMappingURL=style1.css.map */