*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header {
    background: #222222;
    /*height: 75px;*/
    padding-top: 18px;
    padding-bottom: 19px;
}

.offer {
    background: #F1E4E6;
    width: ;
}