.filter {
    summary {display: block;}
    ::-webkit-details-marker {display: none;}
    box-sizing: border-box;
    position: relative;
    padding-top: 13px;
    &-wrap{
        display: flex;
        align-items: flex-end;
        margin-top: 50px;
        margin-bottom: 64px;
    }
    &-sort {
        width: $card-width;
        margin-right: 30px;
    }
    &[open] {
        box-shadow: 6px 4px 35px 0px #00000036;
        z-index: 1;
        .filter-title {
            color: $main-pink;
            &-ico {
                fill: $main-pink;
            }
        }
    }
    &-content {
        position: absolute;
        background-color: $default-white;
        width: $card-width;
        left: 0;
        padding: 16px 16px 0 16px;
        box-shadow: 6px 23px 35px 0px #00000036;
    }
    &-title {
        align-items: center;
        padding-left: 16px;
        @include main-text (600, 14px,17px);
        color: $main-black;
        &-ico {
            margin-left: 11px;
        }
        &:hover {
            color: $main-pink;
            .filter-title-ico {
                fill: $main-pink;
            }
        }

    }
    &-subtitle {
        @include main-text;
        color: #6F6E6E;
        margin-bottom: 17px;
        &-title {
            border-left: 5px solid $main-pink;
            border-bottom: 1px solid #EBEBEB;
            padding: 11px;
        }
        &:hover {
                color: $main-pink;
            }
        &[open] {
                color: $main-pink;
            }
    }
    &-list {
        list-style-type: none;
        padding-top: 24px;
        padding-left: 12px;
    }
    &-item {
        padding-bottom: 11px;
        
    }
    &-link {
        text-decoration: none;
        @include main-text;
        color: #6F6E6E;
        &:hover {
            color: $main-black;
        }
    }
}

.sort {
    summary {display: block;}
    ::-webkit-details-marker {display: none;}
    box-sizing: border-box;
    position: relative;
    padding-right: 28px;
    &-box {
        display: flex;
        width: $card-width;
        align-items: center;
    }
    &-name {
        @include main-text;
        color: #6F6E6E;
        &::after {
            content: url(../img/arrow-down.svg);
            margin-left: 10px;
        }
    }
}
.size {
    &-sort {
        list-style: none;
        position: absolute;
        padding: 10px 20px 12px 10px;
        z-index: 1;
        background-color: $default-white;
        width: 79px;
        height: 103px;
        left: -10px;
        box-shadow: 6px 4px 35px 0px #00000036;
    }
    &-list {
        @include main-text;
        color: #6F6E6E;
        margin-bottom: 5px;
    }
    &-check {
        margin-right: 9px;
    }
}

/* tablet */
@media (max-width: 1180px) {
    .filter-title {
        padding-left: 0;
    }
    .filter-wrap {
        margin-bottom: 40px;
    }
    .sort {
        padding-right: 0;
    }
    .sort-box {
        justify-content: flex-end;
        padding-top: 13px;
    }
    .sort-name {
        padding-left: 25px;
    }
    .display-none {
        display: none;
    }
}

/*mobile*/
@media (max-width: 797px) {
    .filter-wrap {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }
    .filter-sort {
        width: 32px;
    }
    .hidden-ico {
        display:none;
    }
    .filter-title-ico {
        width: 38px;
        height: 25px;
        margin-left: 0;
    }
    .sort-name {
        @include main-text (normal,12px,14px);
        padding-left: 23px;
    }
}