.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background: $main-black;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-link {
        border: transparent;
        color: #000;
        text-decoration: none;
        font: size 16px;
        background-color: $default-white;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        transition: 0.3s;
        &:hover {
            color: $default-white;
            background-color: $main-pink;
        }
    }
}
  
.allrights {
    @include main-text (normal,16px,19px);
    color: $default-white;
}