.header {
    background: $main-black;
    padding: 18px 0;
    color: $default-white;
    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &left {
        display: flex;
        align-items: center;
    }
}

.logo-link{
    @include href ;
    margin-right: 41px;
}

.search-button {
    @include btn;
}

.header-right {
    display: flex;
    align-items: center;
}

.mainmenu-button {
    @include btn;
    margin-right: 33px;
    &-svg {
        fill: $default-white;
    }
    &:hover .mainmenu-button-svg {
        fill: $main-pink;
    }
}

.contacts {
    @include href ;
    margin-right: 33px;
    &-svg {
        fill: $default-white;
    }
    &:hover .contacts-svg {
        fill: $main-pink;
    }
}

.cart-header {
    @include href;
    &-svg {
        fill: $default-white;
    }
    &:hover .cart-header-svg {
        fill: $main-pink;
    }
}
