.header {
    background: $main-black;
    padding: 18px 0;
    color: $default-white;
    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &left {
        display: flex;
        align-items: center;
    }
}

.logo-link{
    @include href;
    border: none;
    margin-right: 41px;
}

.search-button {
    @include btn;
    border: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.mainmenu-button {
    @include btn;
    &-svg {
        fill: $default-white;
        margin-right: 33px;
        &:hover {
            transition: 0.3s;
            fill: $main-pink;
        }
    }
}

.contacts {
    @include href ;
    &-svg {
        fill: $default-white;
        margin-right: 33px;
        &:hover {
            transition: 0.3s;
            fill: $main-pink;
        }
    }
}

.cart-header {
    @include href ;
    &-svg {
        fill: $default-white;
        margin-right: 33px;
        &:hover {
            transition: 0.3s;
            fill: $main-pink;
        }
    }
}

/* tablet */
@media (max-width: 1180px) {
    .header-wrap {
        padding: 0 16px;
    }
}
/*mobile*/
@media (max-width: 797px) {
    .header-wrap {
        padding: 0;
    }
    &:hover .contacts-svg {
        fill: $main-pink;
        transition: 0.3s;
    }
}

.cart-header {
    @include href;
    &-svg {
        fill: $default-white;
    }
    .mainmenu-button-svg {
        margin-right: 0;
    }
}
