.slider {
    border: 1px solid #EAEAEA;
	background-color: #F7F7F7;
    display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-bottom: $shift;
		&-btn {
            background: rgba(42, 42, 42, 0.15);
		    padding: 8px;
            width: 47px;
            height: 47px;
		    border: transparent;
		    position: absolute;
			&:hover {
                .fas {
                    color: $main-pink;
                }
			}
			&:active {
				background: rgba(42, 42, 42, 0.15);
			}
			
			&-left {
				left: 0px;
			}
			
			&-right {
				right: 0px;
			}
	}
}

.about {
    &-wrap {
        background-color: $default-white;
        height: 600px;
	    border: 1px solid #EAEAEA;
	    margin-top: - $shift;
	    position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:64px;
        margin-bottom: 128px;
    }
    &-text {
        @include main-text (300,18px,22px);
        color: #4D4D4D;
        margin-bottom: 48px;
        &-pink {
            @include main-text (300,14px,17px);
            color: $main-pink;
            margin-bottom: 12px;
        }
        &-line {
            width: 63px;
            height: 3px;
            background-color: #EF5B70;
            border: 1px solid #EF5B70;
            margin-bottom: 12px;
        }
    }
    &-description {
        @include main-text (300,14px,17px);
        color: #5E5E5E;
        text-align: center;
        max-width: 555px;
        margin-bottom: 32px;
        &-price {
            @include main-text (300,24px,29px);
            color:#EF5B70;
            margin-bottom: 64px;
        }
        &-line {
            width: 642px;
            border: 1px solid #EAEAEA;
            background-color: #EAEAEA;
        }
    }
}

.sort-about {
    padding-right: 0;
    &-box {
        display: flex;
        margin-top: 64px;
    }
}

.about-button {
    background-color: transparent;
    border: 1px solid $main-pink;
    position: relative;
    margin-top: 48px;
    padding: 14px 56px 14px 72px;
    display: flex;
    align-items: center;
    @include main-text(normal,16px,19px);
    color: $main-pink;
    &-cart {
        position: absolute;
        left: 24px;
        fill: $main-pink;
    }
    &:hover {
        transition: 0.3s;
        background-color: $main-pink;
        color: $default-white;
        .about-button-cart {
            transition: 0.3s;
            fill: $default-white;
        }
    }
}

/*tablet*/
@media (max-width: 1180px) {
    .filter-wrap {
        margin-top: 11px;
        margin-right: 40px;
    }
} 

/*mobile*/
@media (max-width: 797px) {
    
}    
