.registration {
    &-wrap {
        display: flex;
        padding-top: 64px;
        padding-bottom: 96px;
    }
    &-left {
        display: flex;
        flex-wrap: wrap;
        width: $card-width;
        flex-direction: column;
        margin-right: 128px;
    }
    &-right {
        flex-wrap: wrap;
    }
}

.registration-form {
    
    &-type {
        @include main-text (300,16px,19px);
        color: $main-black;
        padding-bottom: 20px;
    }
    &-field {
        border: 1px solid #A4A4A4;
        padding: 13px 17px 16px 17px;
        width: $card-width;
        margin-bottom: 20px;
        &::placeholder {
            @include main-text (300,13px,16px);
            color: #B1B1B1;
        }
        &:hover {
            background-color: #F8F3F4;
            transition: 0.3s;
        }
    }
    &-radio {
        margin-top: 11px;
        margin-bottom: 33px;
        display: flex;
        &-label {
            @include main-text (300,11px,13px);
            color: #000000;
            margin-right: 20px;
            display: flex;
            align-items: center;
        }
    }

    &-info {
        @include main-text (300,13px,16px);
        color: #B1B1B1;
        padding-bottom: 40px;
    }
    &-button {
        @include main-text;
        color: $default-white;
        @include btn;
        background-color: $main-pink;
        padding: 17px 24px ;
        &-pic {
            padding-left: 20px;
        }
        &:hover {
            background-color: #e05c6e;
            transition: 0.3s;
        }
    }
}

.registration-info {
    color: #000000;
    @include main-text (300,24px,29px);
    padding-bottom: 22px;
    &-list {
        list-style-type: none;
        padding-bottom: 15px;
            &::before {
            content: url(../img/checkmark.svg);
            margin-right: 22px;
        }
    }
}

.radio-input {
    display: none;
    &-style {
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #A4A4A4;
        width: 17px;
        height: 17px;
        position: relative;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 300px;
        background-color:#ffffff;
        &::before {
            content: '';
            background: $main-pink;
            width: 13px;
            height: 13px;
            opacity: 0;
            transition: 0.3s;
            position: absolute;
            top: 1px;
            left: 1px;
            border-radius: 300px;
        }
    }
}

.radio-input:checked + .radio-input-style::before {
    opacity: 1;
}