.subscribe {
    background-image: url(../img/photo-subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 97px;
        padding-bottom: 126px;
    }
    &-left {
        display: flex;
        flex-direction: column;
        width: $card-width;
        align-items: center;
    }
    &-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-form {
        width: 356px;
        display: flex;
        margin-top: 30px;
    }
}

.subscribe-text{
    @include main-text (bold,24px,167.2%);
    text-align: center;
    color: $main-black;
    &--small {
        @include main-text (normal,18px,167.2%);
        text-align: center;
        color: $main-black;
    }
}

.subscribe-field {
	padding: 20px;
    width: 255px;
	background-color: lightgrey;
	border: none;
	border-top-left-radius: 26px;
	border-bottom-left-radius: 26px;
    color: $main-black;
    transition: 0.3s;
    &::placeholder {
        @include main-text;
        color: $main-black;
        opacity: 0.67;
    }
    &:hover {
        background: #e9e9e9;
    }
}

.subscribe-btn {
	padding: 20px;
	background-color: $main-pink;
	border: none;
	border-top-right-radius: 26px;
	border-bottom-right-radius: 26px;
    @include main-text;
    color: $default-white;
    transition: 0.3s;
    &:hover {
        background-color: #e05c6e;
    }
}

.subscribe-feedback {
    @include main-text (normal,20px,24px);
    text-align: center;
    color: $main-black;
    margin-top: 30px;
    &-italic {
        font-style: italic;
    }
}

/* tablet */
@media (max-width: 1180px){
    .subscribe-wrap {
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 140px;
    }

    .subscribe-right {
        margin-top: 88px;
    }
}

/*mobile*/
@media (max-width: 797px) {
    .subscribe-wrap {
        padding-bottom: 110px;
    }
    .subscribe-right {
        margin-top: 98px;
    }
}